.git
.github
.venv
.venv-notebook
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.log

node_modules
**/node_modules
apps/web/.next
apps/management_api/.pytest_cache
.pytest_cache

tests
docs

target
output
build
dist

.env
deployment/.env
