.git
.github
.vscode

.venv
.venv-management
.venv-notebook
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.log

node_modules
**/node_modules
apps/web/.next
**/.next
**/tsconfig.tsbuildinfo

.pytest_cache
.ruff_cache

target
build
dist
output

.env
