.git
.github
.vscode

.venv
.venv-*
__pycache__
*.pyc
*.pyo
*.db
*.log

node_modules
**/node_modules
apps/web/.next
**/.next
**/tsconfig.tsbuildinfo

.pytest_cache
.ruff_cache
.mypy_cache

.env
docs
scripts
